span {
  font-family: monospace;
  white-space: pre;
}

.description {
  display: block;
  font-size: 1.4em;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 4s steps(30, end), blink 0.5s step-end 7;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  border-right: 4px solid transparent;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: orange;
  }
  50% {
    border-color: transparent;
  }
}
